# CẤU HÌNH HỆ THỐNG ĐÀO PEARL

# Thông tin Ví và Mỏ đào
WALLET=prl1ppx39nz22s9zf3dwdwgzh83kdlmvdjt8pejea4r2fxs3f7hw5whxs3qmgg5
POOL=pearl-ca1.luckypool.io:3360
MINER_DIR=/home/ntd/Downloads/SRBMiner-Multi-3-3-4

# Cấu hình Telegram Bot
TELEGRAM_TOKEN=
CHAT_ID=

# Cấu hình PostgreSQL (Mặc định)
DB_USER=postgres
DB_PASS=
DB_NAME=pearl_db
DB_HOST=localhost
DB_PORT=5432
